body {
	margin: 0px;
	border: none;
	background-color: black;
}

#canvas1 {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -480px;
	margin-top: -300px;
	background-color: navajowhite;
}

#info {
	background-color: lightblue;
	color: brown;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}